# General
*.log

# Compiled source #
*.class
*/bin/*

# Eclipse files
.project
.classpath
.settings
.metadata

# IntelliJ IDEA files
.idea
*.iws
*.ipr
*.iml

# Packages
*.jar

# Maven build files
target
reports
application.properties

# PMD
.pmd

# Merge files
*.orig

# Windows binaries
*.exe
*.dll
